html {
    box-sizing: border-box;
  }
  
  *, *::before, *::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #7FA9C7;
  }
  
  .app {
    width: 600px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.2);
    margin: 60px auto;
    padding-bottom: 30px;
    }
  
  header {
    font-size: 30px;
    text-align: center;
    padding: 20px;
    border-bottom: 1px solid #ddd;
  }
  
  .quotes {
    padding: 60px 50px;
    min-height: 200px;
    text-align: center;
  }
  
  .quote-text {
    font-size: 25px;
    color: black;
    margin-bottom: 10px;
  }
  
  .controls {
    padding: 20px 50px;
  }

  input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 4px;
    border: 1px solid #ccc;
  }
  
  .button {
    display: block;
    color: black;
    border-radius: 4px;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    text-align: center;
    width: 100%;
    font-size: 20px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
  }
  
  
  .new-quote {
    background-color: #7FA9C7;
    margin-bottom: 15px;
  }
  
  .new-quote:hover {
    background-color: #95B8D1;
  }


    .twitter {
    background-color: #EDE05A;
    text-decoration: none;
  }
  
  .twitter:hover {
    background-color: #F1E77E;
  }